---
layout: page
title: "Projects"
date: 2016-11-22 08:42
---

:markdown
  ### Sendird

  <p><img class="left half" src="https://i1.daumcdn.net/thumb/C200x200/?fname=http://t1.daumcdn.net/brunch/service/guest/image/H0D0vFOuDCQf-KcvmRNJ3mbTF1E.png" width="123" height="123" title="Sendbird" ></p>

  Wrapper for [Sendird Platform](https://sendbird.com/) that allow you to integrate chat, to your website and your apps really easy. They support multiple platforms IOS, Android, Javascript, .NET and Unity.

  This gem will help you integrate with the platform api, for your ruby projects.


  [Github Repo](https://github.com/GustavoCaso/sendbird)

  ---
